*
{
    margin: 0;
    font-family: sans-serif;
}
.sec1
{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./bc49a2d9c02e8e4c39ff29f37248da0deba3f3f2.jpg);
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header02
{
    display: flex;
    gap: 20px;
    align-items: center;

}
.header03
{
    display: flex;
    gap: 20px;
    align-items: center;

}
.innerimg1
{
    display: none;
}
.header
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    color: white;
}
.in
{
    background-color: #07AF91;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.in1
{
    background: linear-gradient(#61B5E4, #016CA8);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    width: 180px;
    text-align: center;
}
.in2
{
    background-color: #07AF91;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    width: 150px;
    text-align: center;
}
.vivo
{
    display: block;
    color: white;
    margin-left: 300px;
    margin-top: 150px;
}
.tech
{
    background-color: #07AF91;
     padding: 5px 10px; 
     border-radius: 1px;
      width: 450px;
     text-align: center;
}
.start
{
    display: none;
}
.flex1
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 200pxp;
    
}
.flex2
{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 200pxp;
    
}
.ptext1
{
    width: 500px;
    color: grey;
}
.options
{
    color: #1178B2;
}
.divfull
{
    
    width: 1000px;
    margin: auto;
}
.divfull1
{
    
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.sec2
{
    margin-top: 80px;
}
.boxic1
{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px;
    
}
.boxs
{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}
.ptext2
{
    width: 300px;
    text-align: center;
    color: grey;
    margin: auto;
}
.sec3
{
    margin: auto;
    width: 1080px;
    margin-top: 60px;
}
.sec4
{
    width: 100%;
    height:500px;
    background-image: url(./Group\ 757.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}
.hlearn
{
    color: white;
    background-color: #07AF91;
    width: 1000px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    
    
}
.pour
{
    color: white;
    text-align: center;
}
.in10
{
    background: linear-gradient(#61B5E4, #016CA8);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    width: 180px;
    text-align: center;
    margin: auto;

}
.davlatho
{
    display: flex;
    align-items: center;
    width: 1000px;
    

}
.countries
{
    padding: 20px;
    background-color: #EEF1F4;
    border-right: 1px solid grey;
    width: 250px;
    text-align: center;
}
.country2
{
    padding: 20px;
    background-color: #EEF1F4;
    width: 150px;
    text-align: center;
    border-radius: 7px;


}
.country1
{
    padding: 20px;
    background-color: #88BBD8;
    border-radius: 7px;
    width: 150px;
    text-align: center;
    

}
.kub
{
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px;
    border-radius: 15px;
    background-color: white;
}
.kubs
{
    display: flex;
    gap: 20px;
    align-items: center;

}
.kubs2
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    
}
.east
{
    width: 1000px;
    height: 400px;
    background-image: url(./Vector\ \(5\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.whole
{
    
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
}
.Fatima
{
    width: 500px;
    height: 400px;
}
.fullkub
{
    
    width: 500px;
    height: 300px;
}
.hwich
{
    color: #1178B2;
}






@media (max-width: 510px){
    .header02
    {
        display: none;
    }
    .innerimg1{
        display: block;
    }
    .header
    {
        justify-content: space-around;
    }
    .vivo
    {
        margin-left: 10px;
    }
    .vivo, h1
    {
        font-size: 25px;
        text-align: center;
    }
    .tech
    {
        width: 280px;
        margin: auto;
    }
    .in1
    {
        width: 200px;
        margin: auto;
    }
    .start
    {
        display: block;
    }
    .open
    {
        display: none;
    }
    .flex1
    {
        flex-direction: column;
        row-gap: 50px;
        text-align: center;
    }
    .flex2
    {
        flex-direction: column;
        row-gap: 50px;
        text-align: center;

    }
    .ptext1
    {
    width: 300px;
    color: grey;
    margin: auto;
    text-align: center;
    
    }
    .sec2
    {
        width: 100%;
    }
    .in2
    {
        margin: auto;
    }
    .divfull, .divfull1
    {
        width: 100%;
    }
    .sec2imgs
    {
        width: 300px;
    }
    .boxs
    {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        align-items: center;
    }
    .sec3
    {
        width: 100%;
    }
    .boxic1
    {
        width: 330px;
    }
    .hlearn
    {
        width: 300px;
    }
    .east
    {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        
    }
    .fullkub
    {
        width: 95%;
        margin: auto;
        margin-top: 30px;
    }
    .Fatima
    {
        width: 95%;
        margin: auto;
    }
    .countries
    {
        width: 60px;
    }
    .country1
    {
        width: 60px;
    }
    .country2
    {
        width: 60px;
    }
    .hwich
    {
        display: none;
    }
    .whole
    {
        width: 100%;
    }
    .sec5
    {
        width: 100%;
    }
    .davlatho
    {
        width: 95%;
        margin: auto;
    }
    
    
}